*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

body{
    margin: 0;
    padding: 0;
    background-image:url("bg_register.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1920px,1080px;

}

.container{
 width: 360px;
 height: 400px;
 margin: 8% auto;
 background: black;
 border-radius: 15px;
 border: 1px solid white;
 position: relative;
}


h3{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

span
{
	background : linear-gradient(to right,#ff105f,#ffad06);
	-webkit-background-clip:text;
	color : transparent;
}


#uname,#pass{
    width: 100%;
    padding: 10px,5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid white;
    outline: none;
    color: #fff;
    background-color: transparent;
}
option{
    color: black;
}

::placeholder{
    color: white;
}

@media only screen and (min-width: 250px) {
    body{
  
        background-image:url("bg_register.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 1920px,1680px;
    }
}